<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Site</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PrimerParcial</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Articulos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                <a class="dropdown-item text-dark" asp-controller="Articulos" asp-action="Index">Articulos</a>
                                <a class="dropdown-item text-dark" asp-controller="Clasificacion_Articulos" asp-action="Index">Clasificacion de Articulos</a>
                                <a class="dropdown-item text-dark" asp-controller="Marcas" asp-action="Index">Marcas</a>
                                <a class="dropdown-item text-dark" asp-controller="Suplidores" asp-action="Index">Suplidores</a>
                                <a class="dropdown-item text-dark" asp-controller="Clasificacion_Suplidores" asp-action="Index">Clasificacion de Suplidores</a>
                                <a class="dropdown-item text-dark" asp-controller="Unidades_de_Medida" asp-action="Index">Unidades de medida</a>

                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Empresas
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                <a class="dropdown-item text-dark" asp-controller="Empresas" asp-action="Index">Empresas</a>
                                <a class="dropdown-item text-dark" asp-controller="Empleados" asp-action="Index">Empleados</a>
                                <a class="dropdown-item text-dark" asp-controller="Puestos_de_Trabajos" asp-action="Index">Puestos de Trabajos</a>

                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ubicacion
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                <a class="dropdown-item text-dark" asp-controller="Paises" asp-action="Index">Paises</a>
                                <a class="dropdown-item text-dark" asp-controller="Ciudades" asp-action="Index">Ciudades</a>
                                <a class="dropdown-item text-dark" asp-controller="Ubicaciones" asp-action="Index">Ubicaciones</a>

                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Formas de..
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                <a class="dropdown-item text-dark" asp-controller="Formas_de_Pagos" asp-action="Index">Formas de pagos</a>
                                <a class="dropdown-item text-dark" asp-controller="Formas_de_Envio" asp-action="Index">Formas de envio</a>
                                <a class="dropdown-item text-dark" asp-controller="Ubicaciones" asp-action="Index">Ubicaciones</a>

                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Monedas
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                <a class="dropdown-item text-dark" asp-controller="Monedas" asp-action="Index">Monedas</a>
                                <a class="dropdown-item text-dark" asp-controller="Tasas_de_Cambio" asp-action="Index">Tasas de Cambio</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Site - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
