@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Site</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to our site.</h2>
        <p>
            This is a paragraph.
        </p>
    </div>
    <div class="col-md-4 border-dark">
        <h2>CRUD</h2>
        <p>Puede crear, leer, actualizar y eliminar datos de la base de datos.</p>
    </div>
</div>